<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Run Model Results</title>
    <!-- Include Bootstrap CSS for styling -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="p-3 mb-2 bg-light text-dark">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1>Best Austin Property Investments</h1>
        </div>
    </div>
        <!-- Horizontal Line -->
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <!-- Filters & Run Model Column -->
        <div class="col-md-2">
            <form method="post" action="{% url 'run_model' %}">
                <!-- Toggle Filters & Run Model buttons -->
                <div class="d-flex justify-content-between mb-3">
                    <button class="btn btn-secondary btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#filtersContainer" aria-expanded="false" aria-controls="filtersContainer">
                        Filters
                    </button>
                    <input type="submit" value="Run Model" class="btn btn-outline-success btn-lg">
                </div>
          <div class="collapse show mt-2" id="filtersContainer">
            <form method="post" action="{% url 'run_model' %}" class="mb-3">
              {% csrf_token %}

              <!-- # of Results -->
              <div class="mb-3">
                <label for="num_of_results" class="form-label"># of Results</label>
                <input
                  type="number"
                  class="form-control"
                  id="num_of_results"
                  name="num_of_results"
                />
              </div>
              <!-- Max Price -->
              <div class="mb-3">
                <label for="maxPrice" class="form-label">Max Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="maxPrice"
                  name="max_price"
                />
              </div>

              <!-- Min Price -->
              <div class="mb-3">
                <label for="minPrice" class="form-label">Min Price</label>
                <input
                  type="number"
                  class="form-control"
                  id="minPrice"
                  name="min_price"
                />
              </div>
              <!-- Max Distance from Downtown -->
              <div class="mb-3">
                <label for="maxDistance" class="form-label"
                  >Max Distance from Downtown</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="maxDistance"
                  name="max_distance"
                />
              </div>

              <!-- Built After -->
              <div class="mb-3">
                <label for="builtAfter" class="form-label">Built After</label>
                <input
                  type="number"
                  class="form-control"
                  id="builtAfter"
                  name="built_after"
                />
              </div>

              <!-- Built Before -->
              <div class="mb-3">
                <label for="builtBefore" class="form-label">Built Before</label>
                <input
                  type="number"
                  class="form-control"
                  id="builtBefore"
                  name="built_before"
                />
              </div>

              <!-- Max Beds -->
              <div class="mb-3">
                <label for="maxBeds" class="form-label">Max Beds</label>
                <input
                  type="number"
                  class="form-control"
                  id="maxBeds"
                  name="max_beds"
                />
              </div>

              <!-- Min Beds -->
              <div class="mb-2">
                <label for="minBeds" class="form-label">Min Beds</label>
                <input
                  type="number"
                  class="form-control"
                  id="minBeds"
                  name="min_beds"
                />
              </div>

              <!-- Max Bath -->
              <div class="mb-3">
                <label for="maxBath" class="form-label">Max Bath</label>
                <input
                  type="number"
                  class="form-control"
                  id="maxBath"
                  name="max_bath"
                />
              </div>

              <!-- Min Bath -->
              <div class="mb-3">
                <label for="minBath" class="form-label">Min Bath</label>
                <input
                  type="number"
                  class="form-control"
                  id="minBath"
                  name="min_bath"
                />
              </div>

              <!-- Max Sq. Ft. -->
              <div class="mb-3">
                <label for="maxSqFt" class="form-label">Max Sq. Ft.</label>
                <input
                  type="number"
                  class="form-control"
                  id="maxSqFt"
                  name="max_sqft"
                />
              </div>

              <!-- Min Sq. Ft. -->
              <div class="mb-3">
                <label for="minSqFt" class="form-label">Min Sq. Ft.</label>
                <input
                  type="number"
                  class="form-control"
                  id="minSqFt"
                  name="min_sqft"
                />
              </div>
          </div>
        </form>
        </div>

        <!-- Results section -->
        <div class="col-md-9">
        <div class="row">
            <div class="col-12 text-center my-1">
                <h3>Results</h3>
            </div>
        </div>
          <table class="table">
            <thead>
              <tr>
                <th>Address</th>
                <th>Price</th>
                <th>Difference</th>
                <th>Prediction</th>
                <th>Link</th>
              </tr>
            </thead>
            <tbody>
              {% for data in data_list %}
              <tr>
                <td>{{ data.address }}</td>
                <td>{{ data.price }}</td>
                <td>{{ data.difference }}</td>
                <td>{{ data.pred }}</td>
                <td><a href="{{ data.link }}" target="_blank">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Include Bootstrap's JavaScript library (optional but required for some Bootstrap components like modals) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>
